# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]j]/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Unity generated
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~\n\n# OS
.DS_Store
Thumbs.db

# Secrets (CRITICAL)
*.env
*.keystore
secrets/
google-services.json
GoogleService-Info.plist

# Supabase
.env.local

# Assets (LFS)
*.psd
*fbx
*.png